<!DOCTYPE html>
<html style="height: 100%;weight:100%">
   <head>
       <meta charset="utf-8">

        <script   src="/static/resource/jquery/jquery.min.js"></script>
        <script   src="/static/resource/bootstrap/js/bootstrap.js"></script>
        <script   src="/static/resource/bootstrap-table/bootstrap-table.js"></script>

        <script   src="/static/resource/bootstrap-table/bootstrap-table-zh-CN.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/resource/bootstrap/css/bootstrap.css" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="/static/resource/bootstrap-table/bootstrap-table.css" rel="stylesheet" />


        <link href="/static/sliderbar.css" rel="stylesheet" />

</head>
<body >



    <div class="container-fluid">
        <div class="row">
            <!-- 侧边栏 -->
            <div class="sidebar">
                <h4>数据展示1</h4>
                <table id="tableContainer"></table>
             </div>
            <!-- 侧边栏 完-->
    <!-- 主体部分  -->
            <div class="main ">

                <div class="main-title" id="">
                    <ul class="nav navbar-nav navbar-left navbar-side" >
                        <li><a href=""><i class="icon  icon-heart"></i></a></li>
                    </ul>
                </div>
                主体部分的内容1
                <div id="mapContainer" style="height: 100%;width:100%">
                </div>

            </div>

        </div>
    </div>


<style>
    .padding0{
        padding: 0;
        padding-left: 0;
        padding-right: 0;
    }


</style>


 <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts-all-3.js"></script>
        <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>
        <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
        <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
        <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
        <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ZUONbpqGBsYGXNIYHicvbAbM"></script>
        <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>

<script   src="/static/map1.js"></script>



   </body>
</html>