<!DOCTYPE html>
<html style="height: 100%">
   <head>
       <meta charset="utf-8">
       <script type="text/javascript" src="http://echarts.baidu.com/dist/echarts.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/dist/echarts-gl.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
       <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ZUONbpqGBsYGXNIYHicvbAbM"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/simplex.js"></script>
       
   </head>
   <body style="height: 100%; margin: 0">
        <div id="container" style="height: 100%"></div>
        <script type="text/javascript">
          var geoData=[
                          {name:'广东', selected:true},
                          {name:'河南', selected:true},
                          {name:'福建', selected:true}

                      ];
          var lineData=[];
          var dom = document.getElementById("container");
          var myChart = echarts.init(dom);
          var app = {};
          option = null;
          option = {
              tooltip: {
                  trigger: 'item',
                  formatter: '{b}'
              },
              geo: {
                show:true,
                map: 'china',
                label: {
                    emphasis: {
                        show: false
                    }
                },
                selectedMode : 'multiple',
                roam: true,
                selected:true,
                itemStyle: {
                    normal: {
                       /* areaColor: '#323c48',
                        borderColor: '#404a59'*/
                    },
                    emphasis: {
                        /*areaColor: '#2a333d'*/
                    }
                },
                label: {
                  position:'left',
                  show:true,
                  normal: {
                      show: true
                  },
                  emphasis: {
                      show: true
                  }
                },
                regions:geoData
                
            },
            series:[
              {
                
              },
              {

              }

            ]
              
          };;
          if (option && typeof option === "object") {
              myChart.setOption(option, true);
          }
        </script>
    </body>
</html>