<!DOCTYPE html>
<html style="height: 100%">
   <head>
       <meta charset="utf-8">
       <script type="text/javascript" src="http://echarts.baidu.com/dist/echarts.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/dist/echarts-gl.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
       <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ZUONbpqGBsYGXNIYHicvbAbM"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/simplex.js"></script>
       
   </head>
   <body style="height: 100%; margin: 0">
        <div id="container" style="height: 100%"></div>
        <script type="text/javascript">
          var geoData=[
                          {name:'广东', selected:true},
                          {name:'河南', selected:true},
                          {name:'福建', selected:true}

                      ];
          var lineData=[];
          var dom = document.getElementById("container");
          var myChart = echarts.init(dom);
          var app = {};
          option = null;
          option = {
              tooltip: {
                  trigger: 'item',
                  formatter: '{b}'
              },
              geo: {

                  show:true,
                  map: 'china',
                  label: {
                    emphasis: {
                        show: false
                    }
                  },
                  selectedMode : 'multiple',
                  roam: true,
                  selected:true,
                  nameMap: {
                      '河南': "Henan",
                      '山西': "Shanxi",
                      '安徽': "Anhui",
                      '北京': "Beijing",
                      '甘肃': "Gansu",
                      '重庆': "Chongqing",
                      '福建': "Fujian",
                      '广东': "Guangdong",
                      '广西': "Guangxi",
                      '贵州': "Guizhou",
                      '黑龙江': "Heilongjiang",
                      '香港': "Hong Kong",
                      '湖北': "Hubei",
                      '湖南': "Hunan",
                      '江苏': "Jiangsu",
                      '江西': "Jiangxi",
                      '吉林': "Jilin",
                      '辽宁': "Liaoning",
                      '澳门': "Macau",
                      '内蒙古': "Inner mongolia",
                      '宁夏': "Ningxia",
                      '青海': "Qinghai",
                      '河北': "Hebei",
                      '陕西': "Shaanxi",
                      '山东': "Shandong",
                      '四川': "Sichuan",
                      '台湾': "Taiwan",
                      '天津': "Tianjin",
                      '西藏': "Tibet",
                      '新疆': "Xinjiang",
                      '云南': "Yunnan",
                      '上海': "Shanghai",
                      '海南': "Hainan",
                      '浙江': "Zhejiang"

                  },
                  itemStyle: {
                    normal: {
                       /* areaColor: '#323c48',
                        borderColor: '#404a59'*/
                    },
                    emphasis: {
                        /*areaColor: '#2a333d'*/
                    }
                },
                label: {
                  position:'left',
                  show:true,
                  normal: {
                      show: true
                  },
                  emphasis: {
                      show: true
                  }
                },
                regions:geoData
                
            },
            
              
          };;
          if (option && typeof option === "object") {
              myChart.setOption(option, true);
          }
        </script>
    </body>
</html>

{% comment %}
坐标


'新疆',  '41.748', '84.9023'
'西藏',  '31.6846', '88.7695'
'内蒙古',  '44.3408', '117.5977'
'青海',  '35.4199', '96.2402'
''四川',  '30.1904', '102.9199'
'黑龙江',  '48.5156', '128.1445'
'甘肃',  '40.166', '95.7129'
'云南',  '25.1807', '101.8652'
'广西',  '23.6426', '108.2813'
'湖南',  '27.3779', '111.5332'
'陕西',  '35.6396', '109.5996'
'广东',  '22.8076', '113.4668'
'吉林',  '43.5938', '126.4746'
'河北',  '37.9688', '115.4004'
'湖北',  '31.1572', '112.2363'
'贵州',  '26.9385', '106.6113'
'山东',  '36.4307', '118.7402'
'江西',  '27.29', '116.0156'
'河南',  '33.8818', '113.4668'
'辽宁',  '41.0889', '122.3438'
'山西',  '37.6611', '112.4121'
'安徽',  '32.0361', '117.2461'
'福建',  '25.9277', '118.3008'
'浙江',  '29.0918', '120.498'
'江苏',  '32.915', '120.0586'
'重庆',  '30.1904', '107.7539'
'宁夏',  '37.3096', '105.9961'
'海南',  '19.2041', '109.9512'
'台湾',  '23.5986', '121.0254'
'北京',  '40.2539', '116.4551'
'天津',  '39.4189', '117.4219'
'上海',  '31.2891', '121.4648'
'香港',  '22.3242', '114.2578'
'澳门',  '22.1484', '113.5547'

{% endcomment %}