<!DOCTYPE html>
<html style="height: 100%;weight:100%">
   <head>
       <meta charset="utf-8">
</head>
<body style="height: 100%; margin: 0;weight:100%">
        <div id="tableContainer" >


        </div>

       <div id="mapContainer" style="height: 100%;weight:100%"></div>



        <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts-all-3.js"></script>
        <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>
        <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
        <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
        <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
        <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ZUONbpqGBsYGXNIYHicvbAbM"></script>
        <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
        <script type="text/javascript" src="../templates/resource/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="../templates/resource/bootstrap/js/bootstrap.js"></script>
        <link href="../templates/resource/bootstrap/css/bootstrap.css" rel="stylesheet" />
        <script type="text/javascript" src="../templates/map1.js"></script>







   </body>
</html>